---
title: Podcastr
url: https://jsevillap.github.io/Podcastr/
github: https://github.com/Jsevillap/Podcastr
description: Podcast streaming platform dashboard (just front end)
tech: HTML CSS Javascript
tags: project
type: front-end
imgURL: /assets/podcastr-cover.jpg
date: 2022-04-11
---