---
title: QuintoTech
url: https://quintotech.io/
github: https://github.com/Jsevillap/Quinto-Tech
description: Static Website for a dedicated IT staffing firm
tech: HTML CSS Javascript
tags: project
type: front-end
imgURL: /assets/quinto-cover.jpg
date: 2022-04-12
---