---
title: Quote Generator
url: https://focused-nobel-f3b2ea.netlify.app/
github: https://github.com/Jsevillap/quoteMachine
description: Simple random quote generator made with react consuming the Quotable API
tech: ["HTML", "CSS", "React"]
tags: project
type: front-end
imgURL: /assets/quote-cover.jpg
date: 2022-04-13
---