---
title: Store Locator
url: https://amazing-lovelace-7fb675.netlify.app/
github: https://github.com/Jsevillap/store-locator
description: Store Locator Map widget with custom icons and categories
tech: HTML CSS Javascript Mapbox
tags: project
type: front-end
imgURL: /assets/map-cover.jpg
---