---
title: WeCamp
url: https://wecampnew.onrender.com/
github: https://github.com/Jsevillap/Campgrounds
description: The best place to find campsites anywhere in the world.
tech: ["nodeJS", "mongoDB", "Express", "EJS", "Bootstrap"]
tags: project
type: full-stack
imgURL: /assets/wecamp-cover.jpg
date: 2022-04-10
---