<footer class="container">

    <div class="social-icons">
       <a href="https://codepen.io/Sevillain"><i class="lni lni-codepen" title="codepen"></i></a> 
      <a href="https://github.com/Jsevillap"><i class="lni lni-github-original" title="GitHub"></i></a>  
       <a href="https://www.linkedin.com/in/jesus-alberto-sevilla/"><i class="lni lni-linkedin-original" title="linkedIn"></i></a> 
    </div>
    <div class="copyright"> &copy Jesus Sevilla 2022</div>

</footer>