<section class="container content-section home-section"  id="home" tabindex="0">

    <p><span class="color-text">Hola!</span> my name is</p>
    <h1 class="big-title" title="Jesus Sevilla"><span class="is-animated">Jesus</span> <span class="is-animated">Sevilla</span></h1>
    <p class="short-paragraph">I’m a former graphic designer turned <span class="color-text">web developer</span> I focus mostly on <span class="color-text">front-end web development</span> but I’m fascinated by everything web related.</p>
    
</section>