<section class="container content-section skills-section" id="skills" tabindex="0">

<h2 class="big-title">Skills</h2>

<div class="skills-container">

    <div class="skill-list">
        <h3 class="color-text">Programming Languages</h3>
        <p>Javascript, HTML, CSS/Sass/PostCSS, Typescript, NodeJS </p>
    </div>

     <div class="skill-list">
        <h3 class="color-text">Libraries & Frameworks</h3>
        <p>Express, React, Bootstrap, Semantic UI</p>
    </div>

     <div class="skill-list">
        <h3 class="color-text">Platforms & Tools</h3>
        <p>Netlify, GitHub, Firebase, Heroku, Git, npm, Wordpress, 11ty</p>
    </div>

     <div class="skill-list">
        <h3 class="color-text">Databases</h3>
        <p>MongoDB, Firestore</p>
    </div>

</div>

</section>