---
title: From Business to Graphic Design to Web Development
permalink: "blog/{{ title | slugify }}/"
description: Switching careers from Business to Graphic Design and now to web development
tags: post
subjects: ["Personal Journey", "Development", "Learning"]
date: 2022-05-10
image: /assets/posts/web-development
imageDescription: A computer with web development programs open
layout: layouts/post.njk
---


<p>I started my professional life as an international business professional focusing on international trade I graduated in 2012 with an international business degree and got a job at a logistics company even before I graduated, the thing is I hated that job from the very beginning I moved to different positions between a bunch of different trade and logistics companies and they all shared the same issues that I hated from the very beginning.</p>



<h2>Unrewarding Work</h2>

<p>I quickly realized that working in logistics is extremely unrewarding for someone like me, the work I was doing wasn’t challenging enough and you don’t really get a sense of achievement cause everything you do doesn’t have an immediate and apparent impact so you are just going through the motions doing a whole bunch of easy and repetitive tasks until the day is over and you have to start all over again it was draining and to top it off the money wasn’t great so I was selling my soul for a really low price and no personal reward or growth.</p>



<h2>Graphic Design</h2>

<p>As mentioned before I worked in a bunch of different companies throughout my business career and in 2015 I got a job at a business association that allowed me to start my very first career transition.</p>

<p>I was working in the international business area of the company but it was a small company with only 10 employees so we were doing all kinds of stuff not just the tasks related to our positions at one point we needed a few flyers for an event we were hosting and the company that helped us with that (a company owned by my boss, more on that later..) so someone had to step up and I’ve been teaching myself how to use photoshop and inkscape for a while mostly for fun and decided to take on the challenge and apparently I did a good job or at least good enough that I started doing more and more graphic design for the company but not enough.</p>

<p>Eventually I decided to quit the company because I wanted to pursue graphic design and the handful of design projects I was getting there simply weren’t enough for me luckily my boss at the time owns a communication company and since he knew of the graphic design work I was doing before he hired me for his company as a designer and the best of it all was that it was a remote position, the bad part was that the pay wasn’t very good less than half of what I was making but working from home meant less expenses so I took it.</p>

<p>Working as a designer was a heck of a lot more rewarding than anything else I’ve ever done before the results of your work were immediate and apparent you make a great design you see it and enjoy it right away, the client likes it and you get the praise and the fulfilment right away there’s all kinds of challenges and a lot of stuff to be done in graphic design I learned a lot in the 5 years I spent at the company and grew from a very amateur self-taught graphic designer to what I consider to be a really good and professional designer doing more and more refined and high quality work, eventually I wanted more than what the company was capable of offering me so I moved on and started my own thing. </p>

<h2>The Perils of Graphic Design</h2>

<p>As rewarding as graphic design can be it comes with a lot of issues although after a bunch learning and research most of them are the fault of the designer in this case myself, the biggest issue I encountered was how little most companies value graphic design for some reason people think that graphic design is easy and  its mostly not that important for companies, it is viewed as something extra most of the time and because of that finding good clients is really hard, most of them are looking for the cheapest alternative and since they don’t care much about design they get what they pay for. </p>

<p>Alongside that issue rides the fact that design is not easy at all creating something that achieves the goals of the clients is not easy it’s not just sitting in front of the computer and start creating on illustrator or photoshop it requires a lot of work, research and planning before you start designing, work that was mostly overlooked and undervalued (again this is mostly the fault of the designer) by most companies and as such design became to me a bit of a pain I was doing hard work for very little financial reward it was great to create new brands and help small companies grow through design but without the financial reward there’s only so much you can do.</p>



<h2>Enter Web Development</h2>

<p> Now unto web development we go! believe it or not I’ve been making websites for a long time, the first website I’ve ever made was in 2009, at school we had a Technology class and the teacher taught us how to create a website using Dreamweaver and for some reason I was really good at it at least much better than my classmates. The final project for that class was a full website and since everybody was struggling with creating their own site and word got out that I was good at it I got paid to do a lot of websites I think I built around 15 sites 15 final projects mind you they were all built with Dreamweaver, but hey for a complete noob it was great!, I even added simple flash sliders to all the sites (I think that was a requirement) and I got to make a little extra money. </p>

<p>Because of that experience I decided to learn more about Web development and actually got a lot of clients and got to build more and more complex sites using tools like bootstrap and WordPress learning everything on the fly and my way so I was learning stuff maybe the “wrong way” cause I didn’t have solid fundamentals, the main problem was that web development was more like a hobby and an extra thing for me I made all those sites while I was working for different companies (in logistics or as a designer) so I didn’t have a lot of free time to learn and focus more on development.</p>

<p>Eventually I decided to learn web development in a more structured and “right way” and in 2020 I bought myself a web development bootcamp course on udemy and my god was that a great decision! I fell in love with web development, now it made much more sense and I was creating more complex and cooler stuff with a heck of a lot more control over everything because knowing how things work allow you to create stuff in a more organized and functional way.</p>

<p>The challenge and the “solving puzzles” nature of development is extremely rewarding for me recreating designs with code, figuring out how to do something with data, how to animate something, create a cool transition or some writing the code for a cool interaction its in and of itself rewarding enough for me to keep me interested.</p>

<p>I started working on programming challenges on codewars and leetcode and even though some of them are really challenging for me it is extremely rewarding to spend a while working on something and eventually figuring out how to solve it seeing the green checkmarks and seeing your score go higher and higher gives you a feeling of accomplishment like nothing else.</p>

<p>Because of all that I decided that web development is the way to go for me there are lots of opportunities, it is well remunerated and the work itself is extremely rewarding for me so even if I’m not working on something important or big it would still be really satisfying to do the work, I’ll still want to keep growing and tackling bigger and bigger challenges though.</p>

<p>Right now I’m looking for my first professional job as a web developer the journey hasn’t been kind to me but I’m learning every step of the way and I know that I’ll eventually find something because I know that even if I’m not good enough right now I can and will be at some point.</p>


