---
title: My Struggles While Job Hunting
permalink: "blog/{{ title | slugify }}/"
description: My journey to get a job as a web developer
tags: post
subjects: ["Personal Journey", "front-end", "job"]
date: 2022-05-10
image: /assets/posts/frustrated-developer
imageDescription: a person sitting in front of a laptop with a frustrated look
type: article
layout: layouts/post.njk
---


<p>Last month I finally felt knowledgeable enough to start applying for entry level front-end positions and started my journey to get my very first professional Web Development Job outside of just doing client work.</p>
<p>I created my personal portfolio and updated my resume and off I went, LinkedIn was my job listing resource, so I also updated my profile there and started applying to almost every Front-end development listing I found mostly focusing on remote positions and jobs on cities near me (Luckily, I live near a big and important city, so I have lots of choices).</p>
<p>I didn’t really know what to expect while applying for web development jobs I was very positive I would get something soon or at least be interviewing for something soon if not for my skill level but because of the sheer number of openings but to my surprise I’ve only been met with rejection after rejection.</p>
<p>Since last month I’ve applied to 12 positions all of them front-end most of them entry level some didn’t mention the seniority level required so I applied anyway, and I’ve only ever heard back from one with the possibility of an interview, but it didn’t happen after the first contact.</p>

<h2>Feedback</h2>
<p>I’ve gotten a couple of replies from applications with a little bit of feedback and it basically boils down to lack of professional experience I only have development experience as a freelancer and doing development while working as a designer so it’s not a professional development environment.</p>
<p>Right know I’m extremely confident on my skill and my knowledge on front end development I don’t think I’m great but I know that I can definitely do the job at least on an entry level position no problem and I can quickly learn to do a heck of a lot more. </p>

<h2>Getting an Interview</h2>
<p>I think the biggest hurdle I have is to get past the initial assessment beyond just my resume which I have to accept it’s not that good because of my lack of professional experience, but I’m confident that if I manage to get to an interview with someone I can do very well.</p>

<h2>My Plan</h2>
<p>I’m confident I’m going to go over that hurdle and the way I’m planning on doing that is basically learn more, write more code and create more full fledged projects to get noticed, create tech related content (like this blog) and engage a lot more with the development community.</p>
<p>I constantly create small projects in codepen and I’ve gotten 4 different times in the trending section thanks to my pens being picked by codepen so I’m getting a tiny bit of recognition there, also I’m participating a lot more in the web_design and webdev subreddits in reddit helping as much as I can and sharing my opinion when relevant and I started my own blog where I plan to post often content like small tutorials, my journey as a developer, my personal story and share cool stuff I find. </p>
<p>Anyway I’ll keep working towards my goal learning, creating and growing wish me luck!</p>

