<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description"
        content="{{ description }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ff364a">
    <meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png">
    <meta name="theme-color" content="#ff364a">    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.5.0/prism-synthwave84.min.css" integrity="sha512-kKKIzqvMkAVKf4rkc2g/T+PM+QWgLttDiL8SJ+k8Q/v9H+hJdcZ7KnD4Cq6TXL/eJy7h33OzfRagQiXDKC4Fmw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta property="og:url"                content="https://www.jesusevilla.com{{page.url}}" />
    <meta property="og:type"               content="{{type}}" />
    <meta property="og:title"              content="{{title}}" />
    <meta property="og:description"        content="{{description}}" />
    <meta property="og:image"              content="{{image}}.jpg" />

    <title>{{ title }}</title>
</head>
<body>
    
    <header>
        
        <a href="#main-content" class="skip-nav-link">Skip to content</a>
        {%  include "nav.njk" %}
    </header>
    
    <main id="main-content">

        {{ content | safe }}

    </main>

    {%  include "footer.njk" %}

    <script src="/js/app.js" type="module"></script>
</body>
</html>